.whole {
    background-color: white;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgb(163, 163, 163) 4px 4px 0px 0px;
}

.container {
    margin-top: 20px;
    background-color: white;
    box-shadow: rgb(163, 163, 163) 4px 4px 0px 0px;
    padding: 40px;
}
.shunxu {
    margin: 10px;
    font-weight: bold;
}
.erji {
    color: rgb(120, 127, 125);
}
.other {
    color: rgb(120, 127, 125);

}
.title {
    background-color: white;
}

img {
    width: 200px;
    height: 200px;
    margin: 30px;
}

.first {
    background-color: black;
    color: white;
}

.last {
    background-color: rgb(204, 204, 204);
}

#lian {
    text-decoration: none;
    color: purple;
}

body {
    background-color: rgb(222, 222, 222);
}